**Que. 1.Discuss string slicing and provide examples.**

**Ans.**Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end.

**Python slicing can be done in two ways:**

*  Using a slice() method
*  Using the array slicing  [:: ] method

**Syntax:**



*   slice(stop)
*  slice(start, stop, step)


**start:** Starting index where the slicing of object starts.

**stop:** Ending index where the slicing of object stops.

**step:** It is an optional argument that determines the increment between each index for slicing.

**Example:-**


* 1. Using a slice() method

In [ ]:
#slicing string

String = 'Sanket'

# Using slice constructor
s1 = slice(4)
s2 = slice(1, 5, 2)
s3 = slice(-1, -12, -2)


print(String[s1])

Sank

In [ ]:
print(String[s2])

ak

In [ ]:
print(String[s3])

tka

*  Using the array slicing  [:: ] method

In [ ]:
String1 = 'pwskills'

print(String1[::])

pwskills

In [ ]:

print(String1[:3])

pws

In [ ]:

print(String1[2:])

skills

In [ ]:

print(String1[1:5:2])

wk

In [ ]:

print(String1[-1:-5:-2])

sl

In [ ]:

print(String1[1::])

wskills

In [ ]:
#it means start from the end, move to beginning an step backword by one character
print(String1[::-1])

sllikswp

**Que. 2.Explain the key features of list in python.**

**Ans.**The list is a sequence data type which is used to store the collection of data.

**Features:-**



*   **Mutability:-**Mutable (can be modified after creation).

*   **Syntax:-**Defined using square brackets[].
*   **Performance:-**Slower due to dynamic size and mutability.


*   Methods:- Slower due to dynamic size and mutability.
*  **Use cases:-**Suitable for collections of items that may change.




*  **Memory usage:-**Consumes more memory due to flexibility
*   **Iteration:-**Iteration can be slightly slower



*  **Hashability:-**Lists are not hashable


**Example:-**

In [ ]:
#list

num_list = [1,2,3,4]
num_list

[1, 2, 3, 4]

In [ ]:
alphabets_list = ['a','b','c','d']
alphabets_list

['a', 'b', 'c', 'd']

**Que. 3.Describe how to access,modify,and delete elements in a list with examples.**

**Ans.**

**Access:-**List items are indexed and you can access them by referring to the
index number.

**Example:-**

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(mylist[1])

banana

In [ ]:

mylist = ["apple", "banana", "cherry"]
print(mylist[-1])

cherry

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(mylist[2:5])

['cherry', 'orange', 'kiwi']


*  ** Modify:-**List in python is mutable types which means it can be changed after assigning some value. The list is similar to arrays in other programming languages.

In [1]:
list1 = [10,20,30,40,50,60]
print(list1)

[10, 20, 30, 40, 50, 60]

In [2]:
list1[0] = 99
print(list1)

[99, 20, 30, 40, 50, 60]

In [4]:
list1[-1] = 77
print(list1)

[99, 20, 30, 40, 50, 77]

In [7]:
list1[-3] = 88
print(list1)

[99, 20, 30, 88, 50, 77]

In [8]:
list1 = [ 10, 20, 30, 40, 50, 60]
print(list1)

print("After incrementing each element of list by 2")
for i in range( len(list1)):
    list1[i] = list1[i] + 2

print(list1)

[10, 20, 30, 40, 50, 60]
After incrementing each element of list by 2
[12, 22, 32, 42, 52, 62]

**Delete elements:-**to remove items such as remove, pop, del and clear methods. Removing elements from a list can be done in various ways depending on whether we want to remove based on the value of the element or index.

**Example:-**

In [9]:
#remove
a = [10, 20, 30, 40, 50]
a.remove(30)
print(a)

[10, 20, 40, 50]

In [11]:
#pop

a = [10, 20, 30, 40, 50]
val = a.pop(1)
print(a)

[10, 30, 40, 50]

In [12]:
#del

a = [10, 20, 30, 40, 50]
del a[1]
print(a)

[10, 30, 40, 50]

In [13]:
#clear

a = [10, 20, 30, 40, 50]
a.clear()
print(a)

[]

**Que. 4.Compare and contrast tuples and lists with examples.**

**Ans.**
Lists and Tuples in Python are two classes of Python Data Structures. The list structure is dynamic, and readily changed whereas the tuple structure is static and cannot be changed. This means that the tuple is generally faster than the list. Lists are denoted by square brackets and tuples are denoted with parenthesis.

**Lists:-**



*   Lists are mutable
*   Lists consume more memory

*   The list is better for performing operations, such as insertion and deletion.
*   Lists have several built-in methods


**Tuples:-**



*   Tuples are immutable
*  Tuple consumes less memory as compared to the list

*  A Tuple data type is appropriate for accessing the elements
*  Tuple consumes less memory as compared to the list

In [14]:
#lists

num_list = [1,2,3,4,5]
num_list

[1, 2, 3, 4, 5]

In [15]:
num_list[1] = 77

In [16]:
num_list

[1, 77, 3, 4, 5]

In [17]:
#tuples

num_tuple = (1,2,3,4,5)
num_tuple

(1, 2, 3, 4, 5)

In [18]:
num_tuple[2] = 55

TypeError: 'tuple' object does not support item assignment

**Que. 5.Describe the key features of sets and provide examples of their use.**

**Ans.**
A well-defined collection of Objects or items or data is known as a set. The objects or data are known as the element. . The symbol used for sets is {…..}. Only the collection of data with specific characteristics is called a set.


Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage. A set is a collection which is unordered, unchangeable*, and unindexed.
###set operations
###Union: combines elements from two sets excluding duplicates
###Intersection: only common elements btw sets
###difference: return the elements that is present in first set and not in second
###symmentric difference: returns elements that are present in either of sets but not in both

In [19]:
s = {1}
type(s)

set

In [20]:
s = {1,2,1,2,2,"Sanket","Sanket","Sanket","Sanket","sanket"}
s

{1, 2, 'Sanket', 'sanket'}

In [21]:
list1 = [1,2,3,"Potato","Potato","Apple","Apple"]
s = set(list1)

In [22]:
s

{1, 2, 3, 'Apple', 'Potato'}

In [23]:
s = {1,2,3,4,5,{4,5,6}} #unhashable type >> it is mutable-list, set
#immutable data structure has a stable hash values like tuples

TypeError: unhashable type: 'set'

In [25]:
 {1,2,3,4,5,(4,5,6)} #it didn't throw error, because tuple is immutable >> stable hashtype

{(4, 5, 6), 1, 2, 3, 4, 5}

In [26]:
s1 = {"hiking", "reading", "coding"}
s2 = {"coding", "photography", "travelling"}

In [27]:
s1

{'coding', 'hiking', 'reading'}

In [28]:
s2

{'coding', 'photography', 'travelling'}

In [29]:
#union >> combine all the elements
s1|s2

{'coding', 'hiking', 'photography', 'reading', 'travelling'}

In [30]:
#intersection >> common elements
s1 & s2

{'coding'}

In [31]:
#difference
s1 - s2

{'hiking', 'reading'}

In [32]:
#symmetric difference
s1^s2

{'hiking', 'photography', 'reading', 'travelling'}

In [33]:
#frozen sets >> immutable version of set, cannot be added or removed any new element
fs = frozenset([1,2,3,4,5])

In [34]:
fs

frozenset({1, 2, 3, 4, 5})

In [35]:
fs.add(7)

AttributeError: 'frozenset' object has no attribute 'add'

In [36]:
fs.remove(2)

AttributeError: 'frozenset' object has no attribute 'remove'

In [37]:
fs.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

**Que. 6.Discuss the use cases of tuples and sets in python programming.**

**Ans.**


*  **Tuples:-** Tuple is a collection of Python objects much like a list. The sequence of values stored in a tuple can be of any type, and they are indexed by integers. Values of a tuple are syntactically separated by ‘commas’. Although it is not necessary, it is more common to define a tuple by closing the sequence of values in parentheses.

*   Tuple is an immutable sequence in python.
*  It cannot be changed or replaced since it is immutable.


* It is defined under parenthesis().  
*   Tuples can store any type of element.


**Sets:-**Set is an unordered collection of data type that is iterable, mutable, and has no duplicate elements. The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.



*   Sets are an unordered collection of elements or unintended collection of items In python.

*   Here the order in which the elements are added into the set is not fixed, it can change frequently.
*  It is defined under curly braces{}.


*  Sets are mutable, however, only immutable objects can be stored in it.

**Que. 7.Describe how to add,modify,and delete items in a dictionary with examples.**

**Ans.**
 Dictionaries are mutable data structures that allow you to store key-value pairs. Dictionary can be created using the dict() constructor or curly braces' {}'. and to created a dictionary, also use of add, remove, or update elements using the methods dict. update(), dict.

In [38]:
#adding items

thisdict = {
  "brand": "Samsung",
  "model": "Galaxy S24",
  "year": 2023
}
thisdict["color"] = "Titanium Gray"
print(thisdict)

{'brand': 'Samsung', 'model': 'Galaxy S24', 'year': 2023, 'color': 'Titanium Gray'}

In [39]:
#modify items

thisdict = {
  "brand": "Samsung",
  "model": "Galaxy S24",
  "year": 2023
}
thisdict["year"] = 2024
print(thisdict)

{'brand': 'Samsung', 'model': 'Galaxy S24', 'year': 2024}

In [40]:
#delete items

thisdict = {
  "brand": "Samsung",
  "model": "Galaxy S24",
  "year": 2023
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Samsung', 'year': 2023}

**Que. 8.Discuss the importance of dictionary keys being immutable and provide examples.**

**Ans.** The hash table implementation of dictionaries uses a hash value calculated from the key value to find the key. If the key were a mutable object, its value could change, and thus its hash could also change.

In [41]:
mydict = {[1, 2]: '12'}
print(mydict[[1, 2]])

TypeError: unhashable type: 'list'